body {
    background-color: #e7e7e7;
}

.from-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 350px;
    margin: 0 auto;
    padding: 40px;
    background-color: #1C305C;
    color: white;
}

.from-header {
    text-align: center;
    font-weight: 600;
    color: white;
}

.student-edit-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #F5F5F5;
}

.nav-link{
    color: white !important;
}